<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="container">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
<H2>Add new item</H2>
<form action="/add" method="post">
  Item: <input type="text" name="item_name">
  <br>
  Description: <input type="text" name="description">
  <br>
  Category: <select name="category">
  {% for category in categories %}<option value="{{category.id}}">{{category.name}}</option>{% endfor %}
</select>
  <br>
  <input type="submit" value="Submit">
</form>
</div>
<div class="col-md-4">
</div>